<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Input From Date and To Date</title>
<meta charset="UTF-8">
<link th:href="@{/styles/css/sample.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/styles/js/sample.js}"></script>
</head>
<body>
 
	<form action="#" th:action="@{/inputdates}" th:object="${message}" method="post" 
	name="daysform" onSubmit="return check(daysform)">
	
		<label><strong>Input Dates</strong>:</label>
        <input id="inputInfo" type="text" th:field="*{inputInfo}" /><span class="error" id="lblError"></span><br/>
 	
      
		<p>
			<input type="submit" value="Submit" /> 
			<input type="reset"	value="Reset">
		</p>
	</form>
	

</body>
</html>